h1 {
  text-align: center;
  background-color: royalblue;
  color: white;
  padding: 20px 0;
  margin: 0;
}

.content {
  display: flex;
  justify-content: center;
  margin-top: 50;
  gap: 40;
}

.info p {
  margin: 10 0;
  font-size: 18;
}
